.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  animation: car infinite 2s cubic-bezier(0.22, 0.61, 0.36, 1);
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes car {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.menulist {
  list-style: none;
  color: #fff;
  display: flex;
  gap: 1em;

  a {
    color: #fff;
  }
}
